
{% extends 'layout.html' %} {% block content %}
<form action="/categories/{{cat}}/{{item.id}}/edit" method="POST">

    <div class="form-group">
        <label for="title">title</label>
        <input type="text" name="name" class="form-control" id="title"  value = "{{item.name}}">
        <small id="texthelp" class="form-text text-muted">title.</small>
    </div>
    <div class="form-group">
        <label for="desc">description</label>
        <textarea name="desc" class="form-control" id="desc" rows="3">{{item.description}}</textarea>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}